.sign-in {
  background-color: rgb(252, 79, 26);
  width: 100%;
  height: 120px;
  padding: 0 1rem;
}

.header__sign-in {
    display: flex;
    justify-content: space-between;
}

.header__sign-in-logo {
  display: flex;
  align-items: center;
}

.header__sign-in-logo--item {
  width: 260px;
  height: 120px;
  object-fit: contain;
}

.header__sign-in-help {
  display: flex;
  align-items: center;
}

.header__sign-in-help--item {
  font-size: 16px;
  color: rgb(248, 248, 248);
  text-decoration: none;
  margin-right: 1rem; /* tạo khoảng cách bên phải */
}

.header__sign-in-help--item:hover {
    color: rgb(248, 248, 248, 0.7);
    text-decoration: underline;
}

.form__sign-in {
    width: 300px;
    height: auto;
    border: 1px solid #000;
    border-radius: 5%;
    
}

.header_title-sign-in {
    font-size: 15px;
}

.form__sign-in--item {
    margin: 0 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.form__sign-in--infor {
    width: auto;
    height: 20px;
    padding: 5px;
}